* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: white;
}
header {
    background-color:white;
    padding: 0px ;
    position: sticky;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bonjour {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}


.listes {
    display: flex;
    list-style: none;
    gap: 30px;
}

.listes a {
    text-decoration: none;
    font-size: 20px;
    color: #1a1a1a;
}

.perfect {
    padding: 40px 0;
}
.perfect-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

.perfect h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.perfect p {
    font-size: 18px;
    margin-bottom: 20px;

}

.perfect-buttons {
    display: flex;
    gap: 15px;
}

.btn1{
    padding: 15px 15px;
    border: 2px solid ;
    border-radius: 5px;
     background-color: #C41E3A;
    color: white;
}
.btn2{
   padding: 15px 15px;
    border: 2px solid  whitesmoke;
    border-radius: 5px;
     background-color: white;
    color: rgb(241, 5, 5);
}

.images {
    position: relative;
}

.images img {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 500px;
}

.services h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;

}

.services {
    display: grid;
    gap: 30px;
}

.droite {
    border: 2px solid #C41E3A;
    padding: 40px 30px;
    position: relative;
}
.droite h3 {
    font-size: 28px;
    margin-bottom: 15px;
}

.droite p {
    margin-bottom: 30px;
}

.learn-more {
    color: #C41E3A;
    text-decoration: none;
}
.about {
    padding: 80px 0;
}

.about h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
}
.about-image img {
    width: 100%;
    border-radius: 10px;
}
.puces-chiffre {
    width: 50px;
    height: 50px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.puces-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.team {
    padding: 80px ;
}

.team h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.team-member {
    text-align: center;
}

.team-member img {
    width: 100%;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

.team-member h3 {
    font-size: 22px;
    margin-bottom: 5px;
}


.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-section h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-section p {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    color: black;
    text-decoration: none;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.newsletter-form input {
    padding: 12px;
    border: 1px solid rgb(217, 215, 215);
    border-radius: 5px;
}

.newsletter-form button {
    width: 100%;
    background-color: red
}

.footer-encad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #e21414;
}
.Reserved p {
    text-align: center;
    font-size: 14px;
}